{% extends 'base_generic.html' %}

{% block content %}

    <p><strong>Фамилия:</strong> {{ author.last_name }}</p>
    <p><strong>Имя:</strong> {{ author.first_name }}</p>
    <p><strong>Родился:</strong> {{ author.date_of_birth }}</p>
    <p><strong>Умер:</strong> {{ author.date_of_death }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Книги</h4>

        {% for book in author.book_set.all %}
        <hr>
            <p class="book-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
            <div class="book-img">Здесь будет скриншот книги</div>
            <p class="book-genre">{{ book.genre.all|join:", " }}</p>
            <p class-"book-summary">{{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}